@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply min-h-screen bg-base-50 text-base-900 antialiased transition-colors;
  margin: 0;
}

main {
  @apply min-h-screen;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-base-900 text-base-100;
  }
}
